[
  {
    "username": "example-twitter-user",
    "display_name": "Example",
    "platform": "twitter",
    "active": true
  },
  {
    "username": "example-github-user",
    "display_name": "Example",
    "platform": "github",
    "active": true
  },
  {
    "username": "example-telegram-channel",
    "display_name": "Example Telegram Channel",
    "platform": "telegram",
    "active": true
  },
  {
    "username": "old-account",
    "display_name": "Archived example",
    "platform": "linkedin",
    "archive": true
  }
]
